.blog-button-single{
    margin-top: 17;
    margin-bottom: 32;
}

.blog-button-many{
    margin-top: 17;
    margin-bottom: 10;
}

.link{
    color: #333740;
}

.loading-bar-one{
    margin-bottom: 13;
}

.loading-bar-two{
    width: 40%;
    margin-bottom: 31;
}

